/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
    border-left: 1px solid;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(68, 0, 255);
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 17, 255);
  }