.social-page {
	backdrop-filter: blur(16px);
	background: rgba(27, 0, 0, 0.041);

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.social-page h1 {
	margin: 0;
	padding: 4% 0 3% 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.356);
	border-top: 1px solid rgb(255, 17, 0);
	font-size: 200%;
}
.social-options {
	width: 100%;
	min-height: 100%;
	font-size: 60%;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.social-link {
	text-decoration: none;
	color: #fff;
	font-size: 4.2em;
	margin-top: 3%;
}
