.tool-page {
	backdrop-filter: blur(3px);
	background: rgba(0, 0, 0, 0.61);

	display: flex;
	justify-content: flex-start;

	flex-direction: column;
}

.tool-page h1 {
	margin: 0;
	padding: 4% 0 3% 0;
	width: 100%;
	color: white;
	background-color: rgba(90, 90, 90, 0.356);
	border-top: 1px solid rgb(255, 17, 0);
	font-size: 200%;
}

.tool-grid-wrapper {
	width: 100%;
	margin-top: 15px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.tool-grid {
	min-height: 100%;
	font-size: 60%;
	display: grid;
	grid-template-columns: 200px 200px 200px 200px;
	grid-gap: 2em;
}
@media screen and (max-width: 913px) {
	.tool-grid {
		grid-template-columns: 20em 20em 20em;
	}
}

@media screen and (max-width: 687px) {
	.tool-grid {
		grid-template-columns: 20em 20em;
		font-size: 2vw;
	}
}

.tool {
	color: rgba(214, 100, 47, 0.884);
	background: rgba(20, 20, 20, 0.7);
	height: 9em;
	width: 9em;
	font-size: 2.3em;
	border-bottom: 1px solid rgb(255, 17, 0);
	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.tool:hover {
	background-color: rgba(36, 36, 36, 0.7);
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
